// Typography

// Fonts
$font-sans = 'Avenir Next Cyr W00 Regular',Arial,Helvetica,sans-serif
$font-sans-light = 'Avenir Next Cyr W00 Light',Arial,Helvetica,sans-serif
$font-sans-bold = "Avenir Next Cyr W00 Medium", Arial, sans-serif
$font-serif = 'Avenir Next Cyr W00 Light',serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
